<!-- File: chapter1/basic-angularjs-app.html -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<link rel="stylesheet" href="./css/bootstrap.min.css"/>
		<link rel="stylesheet" href="./css/bootstrap-theme.min.css"/>
	</head>
	<body ng-app="Emp2Module" class="landing" >
	
		<div class="top-bar" ng-controller="MainCtrl as ctrl">
			<div class="pull-left">
				<span><a href="#/">Empleados</a></span>
			</div>
			<div class="pull-right">
				<span ng-show="!ctrl.userService.isLoggedIn">
					<a href="#/emp_login">Login</a>
				</span>
				<span ng-show="ctrl.userService.isLoggedIn">
					<a href="#/emp_logout">Logout</a>
				</span>
			</div>
		</div>
		<br/>
		<br/>
		
		<div><h3>Template App</h3></div>
		
		<div ng-view=""></div>
	
		<!-- Dependencies -->
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/angular.js"></script>
		<script src="../js/angular-route.js"></script>
		<script src="../js/app/modules/service_module.js"></script>
		<script src="../js/app/services/usu_service.js"></script>
		<script src="../js/app/services/emp_service.js"></script>
		<script src="../js/app/modules/emp_mod2.js"></script>
		<script src="../js/app/directives/elem_empleado.js"></script>
		<script src="../js/app/controllers/emp_controller2.js"></script>
		
	
	</body>
</html>