<!-- File: chapter1/basic-angularjs-app.html -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<link rel="stylesheet" href="./css/bootstrap.min.css"/>
		<link rel="stylesheet" href="./css/bootstrap-theme.min.css"/>
	</head>
	<body role="document">
	
	<!-- Barra superior y opciones de menu -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bootstrap theme</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li>
	            <form th:action="@{/logout}" method="post">
			            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign Out"/>
			    </form>
		    </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div> 
    </nav>
    <!-- Fin de barra superior -->
    <br/>
    <br/>
    <br/>
    <br/>

	<!-- Contenedor principal -->
	<div class="container theme-showcase" role="main"  ng-app="EmpleadosModule" ng-controller="EmpleadosCtrl as ctrl">
		 <div class="page-header">
	        <h1>Empleados</h1>
	     </div>
	
		<!-- Formulario   -->
		<div class="panel panel-success" >
			<div class="panel-heading">
	           <h3 class="panel-title">Ingrese Datos</h3>
	        </div>
	        
	        <div class="panel-body">
	        	<div ng-show="ctrl.error" class="alert alert-warning" role="alert">
	        		<span  ng-bind="ctrl.error"/>
	        	</div>
				<form ng-submit="ctrl.guardarEmpleado()" name="form1" class="form-horizontal">
					<div class="form-group">
						<!-- Validaciones campo nombre -->
						<div  ng-show="form1.nombre.$dirty"  class="alert alert-warning" role="alert">
							<span ng-show="form1.nombre.$error.required">
								Valor Requerido.
							</span>
							<span ng-show="form1.nombre.$error.minlength">
								Longitud minima de 4
							</span>
						</div>
						<!-- *** -->

						<div class="col-xs-5">
							<input name="nombre" type="text" ng-model="ctrl.empleado.nombre"  
								   ng-minlength="4" required="true"
								   class="form-control " placeholder="Nombre" />
						</div>
					</div>
					<div class="form-group">
						<!-- Validaciones campo numId -->
						<div  ng-show="form1.num_id.$dirty" class="alert alert-warning" role="alert">
							<span ng-show="form1.num_id.$error.required">
								Valor Requerido.
							</span>
							<span ng-show="form1.num_id.$error.minlength">
								Longitud minima de 4
							</span>
						</div>
						<!-- *** -->
						<div class="col-xs-5">
							<input  name="num_id" type="text" ng-model="ctrl.empleado.numId" 
									ng-minlength="4" required="true"
									class="form-control" placeholder="Numero Id" />
						</div>						
					</div>
					<div class="form-group">
						<!-- Validaciones campo salario -->
						<div  ng-show="form1.salario.$dirty" class="alert alert-warning" role="alert">
							<span ng-show="form1.salario.$error.required">
								Valor Requerido.
							</span>
						</div>
						<!-- *** -->
						<div class="col-xs-5">
							<input  name="salario" type="text" ng-model="ctrl.empleado.salario" 
									required="true"
									class="form-control" placeholder="Salario" />
						</div>					
					</div>
					<div class="form-group">
						<!-- Validaciones campo cargo -->
						<div ng-show="form1.cargo.$dirty" class="alert alert-warning" role="alert">
							<span ng-show="form1.cargo.$error.required">
								Valor Requerido.
							</span>
						</div>
						<!-- *** -->
						<div class="col-xs-5">
							<input  name="cargo" type="text" ng-model="ctrl.empleado.cargo" 
									required="true"
									class="form-control" placeholder="Cargo" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-xs-5">
							<input 	type="submit" value="Submit" class="btn btn-success"/>
						</div>
					</div>
				</form>
			</div>
			
		</div>
		<!-- Fin  formulario -->
		
		
		
	
		<div class="page-header">
	        <h5>Resultados</h5>
	    </div>
	     
		<table class="table">
			<thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Numero Id</th>
                    <th scope="col">Salario</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Borrar</th>
                </tr>
            </thead>
		
			<tbody>
				<tr ng-repeat="empleado in ctrl.empleados">
					<td><span ng-bind="empleado.id"></span></td>
					<td><span ng-bind="empleado.nombre"></span></td>
					<td><span ng-bind="empleado.numId"></span></td>
					<td><span ng-bind="empleado.salario"></span></td>
					<td><span ng-bind="empleado.cargo"></span></td>
					<td><input type="button" ng-click="ctrl.consultarEmpleado(empleado.nombre)" value="Editar" class="btn btn-success"/></td>
					<td><input type="button" ng-click="ctrl.borrarEmpleado(empleado.id)" value="Borrar" class="btn btn-success"/></td>
				</tr>
			</tbody>
		</table>
	</div>
		<script src="./js/jquery-1.9.1.min.js"></script>
		<script src="./js/bootstrap.min.js"></script>
		<script src="./js/angular.js"></script>
		<script src="./js/modules.js"></script>
		<script src="./js/empleados/empleados_controller.js"></script>
		
	
	</body>
</html>